<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Medicamentos Desabastecidos</h1>
            <h3 class="mb-5">
                <em>Ingrese para revisar los Medicamentos Desabastecidos</em>
                <br>
                 <em>Desarrollado Ing Javier Garcia</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Ingrese
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>