<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Medicamentos Desabastecidos</h1>
            <h3 class="mb-5">
                <em>Ingrese para revisar los Medicamentos Desabastecidos</em>
                <br>
                 <em>Desarrollado por Bienestar IPS</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Ingrese
            </a>
        </div>
        <div class="overlay"></div>
    </header>

    <footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h6 class="text-muted lead">CONTACTO:</h6>
            <h6 class="text-muted">
            Ing Javier Garcia, Cristhy Coronado<br>
            Soporte Cristian Moreno.<br>
            Teléfonos: 3134238891 – 3102854525.<br>
            </h6>
        </div>
        <div class="col-xs-12 col-md-6">
        <div class="pull-right">
        <h6 class="text-muted lead">Bienestar IPS</h6>
              <div class="redes-footer">
                  
              </div>
        </div>
        <div class="row"> <p class="text-muted small text-right"> Bienestar IPS @2021.<br> Todos los derechos reservados.</p></div>
    </div>
  </div>  
</div>
</footer>
</main>



