<main class="index">
    <header class="masthead mb-auto">
        <div class="container text-center my-auto">
            <h1 class="animate__animated animate__pulse">Medicamentos Desabastecidos</h1>

            <h3 class="mb-5">

                <br>

            </h3>
  <div class="card-body">   
   
<h3 class="animate__animated animate__pulse">Bienvenido</h3>
    <a href="/signin" class="btn btn-primary">Ingrese</a>
  </div>
</div>
            </div>
            <div class="overlay"></div>

            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.27,148.52 C295.98,147.52 349.20,-50.00 501.40,83.38 L500.00,150.00 L-1.41,147.52 Z"
                        style="stroke: none; fill: rgb(209, 206, 41);"></path>
                </svg></div>
    </header>


</main>