
<div class="jumbotron jumbotron-fluid">

                    
 <h3 class="animate__animated animate__bounce">DASHBOARD {{user.fullname}} </h3>
                    <p class="lead">Bienvenido : {{user.username}}</p>
                    <hr class="my-4">

</div>

<title>SB Admin 2 - Login</title>



<div class="row">
  <div class="col-sm-6">
    <div class="card text-center text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Edevisa</h5>
        <p class="card-text">Listado de Medicamentos Desabastecidos</p>
        <a href="/links" class="btn btn-primary">Medicos Chapinero ,Colinas</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card text-center text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Edevisa</h5>
        <p class="card-text"> Listado de Medicamentos Desabastecidos</p>
        <a href="/links/list_todas" class="btn btn-success">Operador Logistico</a>
      </div>
    </div>
  </div>
</div>
  <hr class="my-4">
 <hr class="my-4">





<footer>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h6 class="text-muted lead">CONTACTO:</h6>
            <h6 class="text-muted">
            Ing Javier Garcia, Cristhy Coronado<br>
            Soporte Cristian Moreno.<br>
            Teléfonos: 3134238891 – 3102854525.<br>
            </h6>
        </div>
        <div class="col-xs-12 col-md-6">
        <div class="pull-right">
        <h6 class="text-muted lead">Bienestar IPS</h6>
              <div class="redes-footer">
                  
              </div>
        </div>
        <div class="row"> <p class="text-muted small text-right"> Bienestar IPS @2021.<br> Todos los derechos reservados.</p></div>
    </div>
  </div>  
</div>
</footer>