<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit_egreso/{{link.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre Cama" value="{{link.title}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="Tipo cama" value="{{link.url}}">
                </div>
                <div class="form-group">
                    <textarea name="description" rows="2" class="form-control" placeholder="Description">{{link.description}}</textarea>
                </div>
              
                  

                       
         <h4>Egreso <span class="label label-default">Paciente</span></h4>

                     <div class="form-group">
                            <input type="date" name="fecha_egreso" class="form-control" placeholder="Fecha Egreso">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cie_10_egreso" class="form-control" placeholder="Cie 10 Egreso">
                        </div>
                        
                         <div class="form-group">
                            <input type="text" name="remision" class="form-control" placeholder="Remision">
                        </div>

                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>